@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

/* ---------- Table ----------*/
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table tr:hover {
  background-color: #ddd;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #aaa;
  color: white;
}

/* ---------- Responsive Design of Table ---------- */
@media (max-width: 639px) {
  .mobile {
    display: table-cell !important;
  }

  .tablet,
  .laptop-l,
  .desktop {
    display: none !important;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {

  .mobile,
  .tablet {
    display: table-cell !important;
  }

  .laptop-l,
  .desktop {
    display: none !important;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {

  .mobile,
  .tablet,
  .desktop {
    display: table-cell !important;
  }

  .laptop-l {
    display: none !important;
  }
}

@media (min-width: 1440px) {

  .mobile,
  .tablet,
  .desktop,
  .laptop-l {
    display: table-cell !important;
  }
}

/* ---------- Header in Home Page ----------*/
.user-info {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: right;
}

.username {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1976d2;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.popover {
  position: absolute;
  top: 50px;
  right: 3px;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px;
  z-index: 1;
  display: block;
  border-radius: 3%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* ---------- Logo and Table Action Side in Home Page ----------*/
.logo,
.table-action {
  display: flex;
  justify-content: center;
}

#currencies {
  user-select: none;
  border-radius: 4px;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  padding: 4px 0 5px;
  border: 1px solid black;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  display: block;
  min-width: 0;
  width: 100%;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #1976d2;
}

/* ---------- Log In Page ----------*/
.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.logo-side {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(33, 43, 54);
}

.login-side {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
}

.logo,
.logo-black {
  width: 40px;
  height: 40px;
  display: inline-flex;
  z-index: 9;
  position: absolute;
}

.descrip {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.descrip-text {
  margin: 0px;
  font-weight: 700;
  line-height: 1.5;
  font-size: 24px;
  color: #212B36;
}

.email,
.password {
  line-height: 1.4375em;
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: rgb(33, 43, 54);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 8px;
  border: 1px solid #eee;
}

.email-field {
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  font-size: 0.875rem;
  margin: 0px;
  display: block;
  min-width: 0px;
  width: 100%;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  padding: 16.5px 14px;
}

.pass-field {
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  font-size: 0.875rem;
  margin: 0px;
  display: block;
  min-width: 0px;
  width: 100%;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  padding: 16.5px 14px;
}

.forgot {
  margin: 0px;
  line-height: 1.57143;
  font-size: 0.875rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: rgb(33, 43, 54);
  align-self: flex-end;
  text-align: end;
  text-decoration: underline;
}

.login-btn {
  display: inline-flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  justify-content: center;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-weight: 700;
  line-height: 1.71429;
  text-transform: unset;
  font-family: "Public Sans", sans-serif;
  min-width: 64px;
  padding: 8px 16px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(118, 53, 220);
  width: 100%;
  box-shadow: none;
  height: 48px;
  font-size: 15px;
}

@media (min-width: 901px) {
  .login-side {
    padding: 160px 64px 0px;
  }

  .logo-black {
    display: none !important;
  }

  .logo {
    margin: 40px;
  }
}

@media (min-width: 0px) and (max-width: 900px) {
  .logo-side {
    display: none !important;
  }

  .login-side {
    padding: 120px 16px;
  }

  .logo {
    display: none !important;
  }

  .logo-black {
    margin: 16px;
  }

  .descrip-text {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .logo-main {
    max-width: 480px;
  }
}

@media (min-width: 0px) and (max-width: 1200px) {
  .logo-main {
    max-width: 320px;
  }
}

.show-btn {
  display: flex;
  align-items: center;
  position: absolute;
  right: 3px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}